[submodule "vendor/bundles/AntiMattr/GoogleBundle"]
	path = vendor/bundles/AntiMattr/GoogleBundle
	url = git@github.com:antimattr/GoogleBundle.git
[submodule "vendor/bundles/Sf2gen/Bundle/ConsoleBundle"]
	path = vendor/bundles/Sf2gen/Bundle/ConsoleBundle
	url = git://github.com/RapotOR/ConsoleBundle.git
[submodule "vendor/bundles/FOS/UserBundle"]
	path = vendor/bundles/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/UserBundle.git
[submodule "vendor/gedmo-doctrine-extensions"]
	path = vendor/gedmo-doctrine-extensions
	url = git://github.com/l3pp4rd/DoctrineExtensions.git
[submodule "vendor/bundles/Stof/DoctrineExtensionsBundle"]
	path = vendor/bundles/Stof/DoctrineExtensionsBundle
	url = git://github.com/stof/DoctrineExtensionsBundle.git
[submodule "vendor/bundles/Sonata/jQueryBundle"]
	path = vendor/bundles/Sonata/jQueryBundle
	url = git@github.com:sonata-project/jQueryBundle.git
[submodule "vendor/bundles/Sonata/BluePrintBundle"]
	path = vendor/bundles/Sonata/BluePrintBundle
	url = git@github.com:sonata-project/BluePrintBundle.git
[submodule "vendor/bundles/Sonata/AdminBundle"]
	path = vendor/bundles/Sonata/AdminBundle
	url = git@github.com:sonata-project/AdminBundle.git
[submodule "vendor/bundles/Sonata/MenuBundle"]
	path = vendor/bundles/Sonata/MenuBundle
	url = git@github.com:sonata-project/MenuBundle.git
