{% extends "QuizQuizBundle::layout.html.twig" %}

{% block content %}
<h1>Quiz de Developpez.com</h1>
<h2>{{ cat }}</h2>
<ul>
    {% for q in quiz %}
        <li><a href="{{ path('quizShow', {'id': q.getId(), 'slug': q.getSlug()}) }}">{{ q }}</a></li>
    {% else %}
        <li>
            Pas de quiz dans cette catégorie. 
        </li>
    {% endfor %}
</ul>
{% endblock %}