{% extends "QuizQuizBundle::layout.html.twig" %}

{% block content %}
<h1>Quiz de Developpez.com</h1>
<p>
    La liste des rubriques. 
</p>
<p>
    {{ ""|tree_show }}
</p>
<p>
    Les quiz les plus visités. 
</p>
<p>
    Attention ! Si vous n'êtes pas connecté, il ne sera pas possible d'enregistrer vos résultats. 
</p>
{% endblock %}