{% extends "QuizQuizBundle::layout.html.twig" %}

{% block content %}
<h1>Quiz de Developpez.com</h1>
{% include "QuizQuizBundle:Helpers:form.full.html.twig" with {'quiz': form} %}
{{ form|var_dump }}
{% endblock %}