{% extends "QuizQuizBundle::layout.html.twig" %}

{% block content %}
<h1>Quiz de Developpez.com</h1>
<h2>{{ quiz }}</h2>
{% set questions = quiz.getQuestion() %}
{% for question in questions %}
<section>
    <h1>{{ question.text }}</h1>
    <ul>
        {% for answer in question.getAnswer() %}
            <li>{{ answer }}</li>
        {% endfor %}
    </ul>
</section>
{% endfor %}
{% endblock %}